<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
            <key>label</key>
            <string>enabled</string>
            <key>footerText</key>
            <string>(Why would you disable me tho?)</string>
            <key>footerAlignment</key>
            <string>2</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.miwix.slidetextprefs/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.miwix.slidetextprefs</string>
			<key>key</key>
			<string>TweakisEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>options</string>
			<key>footerText</key>
			<string>Before you respring, swipe out of the preferences for the tweak and open them again in order to save the text.</string>
		</dict>
		<dict>
            	<key>cell</key>
			<string>PSEditTextCell</string>
		<key>placeholder</key>
            		<string>Swipe up to unlock</string>
		<key>defaults</key>
			<string>com.miwix.slidetextprefs</string>
            	<key>key</key>
			<string>STtext</string>
            	<key>label</key>
			<string>Text</string>
            	<key>PostNotification</key>
			<string>com.miwix.slidetextprefs/settingschanged</string>
       	</dict>
				<dict>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>label</key>
					<string>Text Height</string>
					<key>isStaticText</key>
					<true/>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSegmentCell</string>
					<key>default</key>
					<integer>0</integer>
					<key>defaults</key>
					<string>com.miwix.slidetextprefs</string>
					<key>key</key>
					<string>Height</string>
					<key>validValues</key>
					<array>
						<integer>-33</integer>
						<integer>-500</integer>
					</array>
					<key>validTitles</key>
					<array>
						<string>Default</string>
						<string>Custom</string>
					</array>
					<key>alignment</key>
					<string>2</string>
					<key>PostNotification</key>
					<string>com.miwix.slidetextprefs/settingschanged</string>
				</dict>
				<dict>
				    <key>cell</key>
				    <string>PSSliderCell</string>
					  <key>default</key>
				    <real>-33</real>
				    <key>defaults</key>
						<string>com.miwix.slidetextprefs</string>
						<key>showValue</key>
						<false/>
						<key>key</key>
				    <string>HeightSlider</string>
				    <key>label</key>
				    <string>Discrete</string>
				    <key>max</key>
				    <real>-1</real>
				    <key>min</key>
				    <real>-650</real>
				</dict>
 		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
          	 	<key>footerText</key>
         	   	<string>Respring is required for changes to take effect.</string>
		</dict>
        <dict>
			<key>PostNotification</key>
			<string>relaunchSpringBoard</string>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			 </dict> <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
				<key>label</key>
				<string>support</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBTwitterCell</string>
				<key>label</key>
				<string>Follow me on Twitter</string>
				<key>user</key>
				<string>LGarivOfficial</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBLinkTableCell</string>
				<key>label</key>
				<string>Buy me a beer🍻</string>
				<key>subtitle</key>
				<string>It's cold outside.</string>
				<key>icon</key>
				<string>paypal.png</string>
				<key>url</key>
				<string>https://lgariv.github.io/LaVie/Donate.html</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBLinkTableCell</string>
				<key>label</key>
				<string>Add my repo</string>
				<key>subtitle</key>
				<string>https://lgariv.github.io/LaVie/</string>
				<key>icon</key>
				<string>Cydia.png</string>
				<key>url</key>
				<string>cydia://url/https://cydia.saurik.com/api/share#?source=https://lgariv.github.io/LaVie/</string>
			</dict>
			<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If the bug report form doesn't load correctly, just open it in landscape mode (rotate your iPhone).</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBLinkTableCell</string>
				<key>label</key>
				<string>Bug report</string>
				<key>subtitle</key>
				<string>Shit happens 🤷‍♂️</string>
				<key>icon</key>
				<string>buggy.png</string>
				<key>url</key>
				<string>https://docs.google.com/forms/d/e/1FAIpQLScFu2GBMdQB0PpE5fBgoc9mcD_e5OzsvAqsm49wxd-TLxpw9g/viewform?usp=sf_link</string>
			</dict>
			<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
            <key>footerText</key>
            <string>v1.0.0 ©2019 Lavie Gariv</string>
            <key>footerAlignment</key>
            <string>1</string>
		</dict>
	</array>
	<key>title</key>
	<string>SlideText</string>
</dict>
</plist>
